name: Build

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-18.04 
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install node
      uses: actions/setup-node@v1
      with:
       node-version: '10.18'
    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64'
    - name: Install dependencies
      run: |
        python -m pip install jupyterlab==2.1.0
        python -m pip install ipywidgets 
    - name: Build the extension
      run: |
        jlpm && jlpm run build
        jupyter labextension install .
        python -m jupyterlab.browser_check
    - name: Check PyPi and NPM version 
      run: | 
        python version_check.py 
